<?xml version="1.0" encoding="utf-8" ?>
<!--
  NLog конфигурация для GalacticExpansion
  Логи сохраняются в Content/Mods/GalacticExpansion/Logs/
  
  Примечание: ${basedir} = DedicatedServer\, поэтому используем ../ для выхода в корень игры
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <!-- Основной лог-файл -->
    <!-- ${basedir} = DedicatedServer\, поэтому используем ../../.. для выхода в корень игры -->
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/../Content/Mods/GalacticExpansion/Logs/GLEX_${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
            archiveFileName="${basedir}/../Content/Mods/GalacticExpansion/Logs/archives/GLEX_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Консольный вывод для отладки -->
    <target name="console" xsi:type="Console"
            layout="${time}|${level:uppercase=true:truncate=5}|${logger:shortName=true}|${message}" />

    <!-- Отдельный лог для ошибок -->
    <target name="errorfile" xsi:type="File"
            fileName="${basedir}/../Content/Mods/GalacticExpansion/Logs/GLEX_errors_${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
            archiveFileName="${basedir}/../Content/Mods/GalacticExpansion/Logs/archives/GLEX_errors_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="14" />
  </targets>

  <rules>
    <!-- Все сообщения уровня Debug и выше идут в основной лог -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    
    <!-- Вывод в консоль для отладки (можно отключить в продакшене) -->
    <logger name="*" minlevel="Info" writeTo="console" />
    
    <!-- Ошибки и выше дублируются в отдельный файл -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>
